################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GettingReal/.vs/WPFapp/FileContentIndex
/GettingReal/obj
